body {
    padding: 10%;

    justify-content: center;
}

table {
    width: 100%;
}


.receipt-container {
    align-items: center;
}
.receipt-list {
    min-width: 30%;
}

.product-item {
    margin: 15%;
    padding: 2%;
}

.delete-btn {
    margin: 10%;
}

.product {
    justify-content: space-between;
    background-color: blueviolet;
}